<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Disorganized Thoughts</title>
    {{ $styles := resources.Get "next_main.css" -}}
    <link rel="stylesheet" href="{{ $styles.RelPermalink }}">
</head>
<body>
    <a class="skip-nav" href="#main">Skip To Content</a>
    <header>
        <a class="site-title" href="/">Disorganized Thoughts</a>
    </header>
    <main>
        {{- block "main" . }}
        {{- end }}
    </main>
    <footer>
        <small>
            <p>&copy; 2023, Jacob Shtabnoy.<br/><a href="/license">Some rights reserved</a>.</p>
        </small>
        {{- with .Site.Menus.socials}}
        <address id="contacts">
            {{- range . }}
            <a href="{{ .URL }}" title="{{ .Title }}">
                {{- if .Params.icon }}
                {{$image := resources.Get .Params.icon}}
                {{- if $image}}<img src="{{ $image.Permalink }}" width="24px" height="24px" alt="{{ .Name }}"></img> {{end}}
                {{- end }}
                <!-- <span class="fa-sr-only">{{ .Name }}</span> -->
            </a>
            {{end}}
        </address>
        {{end}}
    </footer>
</body>
</html>