{{- $section := .Get "section" -}}
{{- $level := default "2" (.Get "level") -}}
{{- with $section -}}
{{- else -}}
{{- errorf "missing value for param 'section': %s" .Position -}}
{{- end -}}
<section class="article-list">
    <h1>Recent {{$section | humanize | pluralize }}</h1>
    <ul>
{{- range first 5 (where .Site.RegularPages "Section" $section) }}
        <li>
            <article>
                <header>
                    <h{{$level}}>{{.Title}}</h{{$level}}>
                    {{ with .Date }}<time datetime='{{ .Format "2006-02-01" }}'>{{ .Format "2006 Jan 2" }}</time>{{ end }}
                </header>
                {{ .Summary | markdownify }}
                {{- if .Truncated }}<a class="see-more" href="{{.Permalink}}">Read more&hellip;</a>{{end}}
            </article>
        </li>
    {{end -}}
    </ul>
</section>